<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
		<link rel="icon" href="/static/assets/splatr_icon.svg">
		<title><%=title%> | Splatr</title>
		<link rel="stylesheet" href="/static/styles/console/index.css">
  </head>
	<body>
		<img src="<%=user.profile%>" class="profile-img"/>
	</body>
</html>